<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Admin Page</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="d-flex justify-content-start w-100">
        <span class="navbar-text h5 font-weight-bold text-white" th:text="${principal.getName()}">Email</span>
        <span class="navbar-text h5 text-white ml-3">with role(s):</span>
        <span class="navbar-text h5 text-white ml-3" th:each="role : ${currentUser.roles}" th:text="${role}">ROLE</span>
        <form th:action="@{/logout}" method="post" class="ml-auto">
            <button type="submit" class="btn btn-link navbar-text">Logout</button>
        </form>
    </div>
</nav>
<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active ms-2" id="v-pills-admin-tab" data-toggle="pill" href="#v-pills-admin"
                   role="tab"
                   aria-controls="v-pills-admin" aria-selected="true">Admin</a>
                <a class="nav-link ms-2" id="v-pills-user-tab" data-toggle="pill" href="#v-pills-user" role="tab"
                   aria-controls="v-pills-user" aria-selected="false">Profile</a>
            </div>
        </div>

        <div class="col-10">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-admin" role="tabpanel"
                     aria-labelledby="v-pills-admin-tab">
                    <h3>Admin Panel</h3>
                    <nav>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="usersTab" data-toggle="tab" href="#usersTable" role="tab"
                                   aria-controls="users" aria-selected="true">Users table</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="newUserTab" data-toggle="tab" href="#newUser" role="tab"
                                   aria-controls="newUser" aria-selected="false">New User</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="usersTable" role="tabpanel"
                             aria-labelledby="usersTab">
                            <div class="border">
                                <div class="border p-2 bg-light">
                                    <h5>All Users</h5>
                                </div>

                                <div class="p-3">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th scope="col">Id</th>
                                            <th scope="col">Username</th>
                                            <th scope="col">First name</th>
                                            <th scope="col">Last name</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Phone number</th>
                                            <th scope="col">Roles</th>
                                            <th scope="col">Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="user : ${users}">
                                            <td th:text="${user.getId()}" scope="row"></td>
                                            <td th:text="${user.getUsername()}" scope="row"></td>
                                            <td th:text="${user.getFirstName()}" scope="row"></td>
                                            <td th:text="${user.getLastName()}" scope="row"></td>
                                            <td th:text="${user.getEmail()}" scope="row"></td>
                                            <td th:text="${user.getPhoneNumber()}" scope="row"></td>
                                            <td scope="row">
                                                <span th:each="role,iterStat : ${user.roles}"
                                                      th:text="${role} + (${not iterStat.last} ? ', ' : '')">Role</span>
                                            </td>
                                            <td scope="row">
                                                <button type="button"
                                                        class="btn btn-primary"
                                                        data-toggle="modal"
                                                        th:attr="data-target='#editModal'+${user.id}">
                                                    Edit
                                                </button>

                                                <button type="button"
                                                        class="btn btn-danger"
                                                        data-toggle="modal"
                                                        th:attr="data-target='#deleteModal'+${user.id}">
                                                    Delete
                                                </button>

                                                <!--                                        Edit user modal-->
                                                <div class="modal fade" th:id="'editModal'+${user.id}" tabindex="-1"
                                                     aria-labelledby="editModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="editModalLabel">Edit
                                                                    User</h5>
                                                                <button type="button" class="close"
                                                                        data-dismiss="modal"
                                                                        aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body text-center font-weight-bold">
                                                                <form th:action="@{/admin/save}" method="post">
                                                                    <div class="w-50 mx-auto">
                                                                        <div class="mb-3">
                                                                            <label for="id"
                                                                                   class="form-label">ID</label>
                                                                            <input type="text" class="form-control"
                                                                                   name="id" id="id"
                                                                                   th:value="${user.id}" readonly>
                                                                        </div>

                                                                        <div class="mb-3">
                                                                            <label for="editUsername"
                                                                                   class="form-label">Username</label>
                                                                            <input type="text" class="form-control"
                                                                                   id="editUsername" name="username"
                                                                                   th:value="${user.username}" required>
                                                                        </div>

                                                                        <div class="mb-3">
                                                                            <label for="editFirstName"
                                                                                   class="form-label">First Name</label>
                                                                            <input type="text" class="form-control"
                                                                                   id="editFirstName" name="firstName"
                                                                                   th:value="${user.firstName}">
                                                                        </div>

                                                                        <div class="mb-3">
                                                                            <label for="editLastName"
                                                                                   class="form-label">Last Name</label>
                                                                            <input type="text" class="form-control"
                                                                                   id="editLastName" name="lastName"
                                                                                   th:value="${user.lastName}">
                                                                        </div>

                                                                        <div class="mb-3">
                                                                            <label for="editEmail" class="form-label">Email</label>
                                                                            <input type="email" class="form-control"
                                                                                   id="editEmail" name="email"
                                                                                   th:value="${user.email}">
                                                                        </div>

                                                                        <div class="mb-3">
                                                                            <label for="editPhoneNumber"
                                                                                   class="form-label">Phone
                                                                                Number</label>
                                                                            <input type="text" class="form-control"
                                                                                   id="editPhoneNumber"
                                                                                   name="phoneNumber"
                                                                                   th:value="${user.phoneNumber}">
                                                                        </div>

                                                                        <div class="mb-3">
                                                                            <label for="editPassword"
                                                                                   class="form-label">Password</label>
                                                                            <input type="password" class="form-control"
                                                                                   id="editPassword" name="password"
                                                                                   required>
                                                                        </div>

                                                                        <div class="mb-3">
                                                                            <label class="form-label">Role</label>
                                                                            <div class="form-check text-left">
                                                                                <input class="form-check-input"
                                                                                       type="checkbox" value="ROLE_USER"
                                                                                       id="editRoleUser" name="roles"
                                                                                       th:checked="${user.roles.contains('USER')}">
                                                                                <label class="form-check-label font-weight-normal"
                                                                                       for="editRoleUser">
                                                                                    User
                                                                                </label>
                                                                            </div>
                                                                            <div class="form-check text-left">
                                                                                <input class="form-check-input"
                                                                                       type="checkbox"
                                                                                       value="ROLE_ADMIN"
                                                                                       id="editRoleAdmin" name="roles"
                                                                                       th:checked="${user.roles.contains('ADMIN')}">
                                                                                <label class="form-check-label font-weight-normal"
                                                                                       for="editRoleAdmin">
                                                                                    Admin
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary"
                                                                                data-dismiss="modal">Close
                                                                        </button>
                                                                        <button type="submit" class="btn btn-primary">
                                                                            Edit
                                                                        </button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!--                                        Delete user modal-->
                                                <div class="modal fade" th:id="'deleteModal'+${user.id}" tabindex="-1"
                                                     aria-labelledby="deleteModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="deleteModalLabel">Delete
                                                                    user</h5>
                                                                <button type="button" class="close"
                                                                        data-dismiss="modal"
                                                                        aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body text-center font-weight-bold">
                                                                <form th:action="@{/admin/delete(userId=${user.id})}"
                                                                      method="post">
                                                                    <div class="w-50 mx-auto">
                                                                        <div class="mb-3">
                                                                            <label for="deleteId"
                                                                                   class="form-label">ID</label>
                                                                            <input type="text" class="form-control"
                                                                                   name="id" id="deleteId"
                                                                                   th:value="${user.id}" readonly>
                                                                        </div>

                                                                        <div class="mb-3">
                                                                            <label for="deleteUsername"
                                                                                   class="form-label">Username</label>
                                                                            <input type="text" class="form-control"
                                                                                   id="deleteUsername" name="username"
                                                                                   th:value="${user.username}" readonly>
                                                                        </div>

                                                                        <div class="mb-3">
                                                                            <label for="deleteFirstName"
                                                                                   class="form-label">First Name</label>
                                                                            <input type="text" class="form-control"
                                                                                   id="deleteFirstName" name="firstName"
                                                                                   th:value="${user.firstName}"
                                                                                   readonly>
                                                                        </div>

                                                                        <div class="mb-3">
                                                                            <label for="deleteLastName"
                                                                                   class="form-label">Last Name</label>
                                                                            <input type="text" class="form-control"
                                                                                   id="deleteLastName" name="lastName"
                                                                                   th:value="${user.lastName}" readonly>
                                                                        </div>

                                                                        <div class="mb-3">
                                                                            <label for="deleteEmail" class="form-label">Email</label>
                                                                            <input type="email" class="form-control"
                                                                                   id="deleteEmail" name="email"
                                                                                   th:value="${user.email}" readonly>
                                                                        </div>

                                                                        <div class="mb-3">
                                                                            <label for="deletePhoneNumber"
                                                                                   class="form-label">Phone
                                                                                Number</label>
                                                                            <input type="text" class="form-control"
                                                                                   id="deletePhoneNumber"
                                                                                   name="phoneNumber"
                                                                                   th:value="${user.phoneNumber}"
                                                                                   readonly>
                                                                        </div>

                                                                        <div class="mb-3">
                                                                            <label class="form-label">Role</label>
                                                                            <div class="form-check text-left">
                                                                                <input class="form-check-input"
                                                                                       type="checkbox" value="ROLE_USER"
                                                                                       id="deleteRoleUser" name="roles"
                                                                                       th:checked="${user.roles.contains('USER')}"
                                                                                       disabled>
                                                                                <label class="form-check-label font-weight-normal"
                                                                                       for="deleteRoleUser">
                                                                                    User
                                                                                </label>
                                                                            </div>
                                                                            <div class="form-check text-left">
                                                                                <input class="form-check-input"
                                                                                       type="checkbox"
                                                                                       value="ROLE_ADMIN"
                                                                                       id="deleteRoleAdmin" name="roles"
                                                                                       th:checked="${user.roles.contains('ADMIN')}"
                                                                                       disabled>
                                                                                <label class="form-check-label font-weight-normal"
                                                                                       for="deleteRoleAdmin">
                                                                                    Admin
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary"
                                                                                data-dismiss="modal">Close
                                                                        </button>
                                                                        <button type="submit" class="btn btn-danger">
                                                                            Delete
                                                                        </button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="newUser" role="tabpanel" aria-labelledby="newUserTab">
                            <div class="border">
                                <div class="border p-2 bg-light">
                                    <h5>Add new user</h5>
                                </div>

                                <form th:action="@{/admin/save}" th:object="${userDto}" method="post"
                                      class="p-3 pb-5 text-center font-weight-bold">
                                    <div class="w-25 mx-auto">
                                        <div class="mb-3">
                                            <label for="newUsername" class="form-label mb-0">Username</label>
                                            <input type="text" class="form-control" id="newUsername" name="username"
                                                   th:field="*{username}"
                                                   required>
                                        </div>

                                        <div class="mb-3">
                                            <label for="newFirstName" class="form-label mb-0">First Name</label>
                                            <input type="text" class="form-control" id="newFirstName"
                                                   th:field="*{firstName}" name="firstName">
                                        </div>

                                        <div class="mb-3">
                                            <label for="newLastName" class="form-label mb-0">Last Name</label>
                                            <input type="text" class="form-control" id="newLastName" name="lastName"
                                                   th:field="*{lastName}">
                                        </div>

                                        <div class="mb-3">
                                            <label for="newEmail" class="form-label mb-0">Email</label>
                                            <input type="email" class="form-control" id="newEmail" name="email"
                                                   th:field="*{email}">
                                        </div>

                                        <div class="mb-3">
                                            <label for="newPhoneNumber" class="form-label mb-0">Phone Number</label>
                                            <input type="text" class="form-control" id="newPhoneNumber"
                                                   name="phoneNumber" th:field="*{phoneNumber}">
                                        </div>

                                        <div class="mb-3">
                                            <label for="newPassword" class="form-label mb-0">Password</label>
                                            <input type="password" class="form-control" id="newPassword" name="password"
                                                   th:field="*{password}"
                                                   required>
                                        </div>

                                        <div class="mb-3">
                                            <label class="form-label mb-0">Role(s)</label>
                                            <div class="form-check text-left">
                                                <input class="form-check-input" type="checkbox" value="ROLE_USER"
                                                       th:field="*{roles}"
                                                       id="newRoleUser" name="roles">
                                                <label class="form-check-label font-weight-normal" for="newRoleUser">
                                                    User
                                                </label>
                                            </div>
                                            <div class="form-check text-left">
                                                <input class="form-check-input" type="checkbox" th:field="*{roles}"
                                                       value="ROLE_ADMIN"
                                                       id="newRoleAdmin" name="roles">
                                                <label class="form-check-label font-weight-normal" for="newRoleAdmin">
                                                    Admin
                                                </label>
                                            </div>
                                        </div>

                                        <div>
                                            <button type="submit" class="btn btn-success">Add new user</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">
                    <h3>User information-page</h3>
                    <div class="border">
                        <div class="border p-2 bg-light">
                            <h5>About user</h5>
                        </div>

                        <div class="p-3">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">First name</th>
                                    <th scope="col">Last name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Phone number</th>
                                    <th scope="col">Role(s)</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:object="${currentUser}">
                                    <td th:text="*{id}" scope="row"></td>
                                    <td th:text="*{username}" scope="row"></td>
                                    <td th:text="*{firstName}" scope="row"></td>
                                    <td th:text="*{lastName}" scope="row"></td>
                                    <td th:text="*{email}" scope="row"></td>
                                    <td th:text="*{phoneNumber}" scope="row"></td>
                                    <td scope="row">
                                                <span th:each="role,iterStat : *{roles}"
                                                      th:text="${role} + (${not iterStat.last} ? ', ' : '')">Role</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>