<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>
<h1>Welcome to Admin PAGE!</h1>
<div>
    <table>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Phone number</th>
            <th>Actions</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getUsername()}"></td>
            <td th:text="${user.getFirstName()}"></td>
            <td th:text="${user.getLastName()}"></td>
            <td th:text="${user.getEmail()}"></td>
            <td th:text="${user.getPhoneNumber()}"></td>
            <td>
                <a th:href="@{/admin/update(userId=${user.id})}">
                    <button>Update</button>
                </a>
                <a th:href="@{/admin/delete(userId=${user.id})}">
                    <button>Delete</button>
                </a>
            </td>
        </tr>
    </table>
    <br>
    <a href="/admin/addNewUser">
        <button type="button">Add User</button>
    </a>
    <br><br>
    <a href="/logout">Logout</a>
</div>
</body>
</html>