<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Info</title>
</head>
<body>
<form action="#" th:action="@{/admin/save}" th:object="${userDto}" method="post">
    <input type="hidden" th:field="*{id}">
    <input type="text" th:field="*{username}" placeholder="Username">
    <br><br>
    <input type="text" th:field="*{firstName}" placeholder="First Name">
    <br><br>
    <input type="text" th:field="*{lastName}" placeholder="Last Name">
    <br><br>
    <input type="email" th:field="*{email}" placeholder="Email">
    <br><br>
    <input type="tel" th:field="*{phoneNumber}" placeholder="Phone Number">
    <br><br>
    <input type="password" th:field="*{password}" placeholder="Password">
    <br><br>
    <label>Roles:</label><br>
    <input type="checkbox" id="role_user" name="roles" th:checked="*{roles.contains('ROLE_USER')}"
           value="ROLE_USER">
    <label for="role_user">User</label><br>
    <input type="checkbox" id="role_admin" name="roles" th:checked="*{roles.contains('ROLE_ADMIN')}"
           value="ROLE_ADMIN">
    <label for="role_admin">Admin</label><br>
    <br><br>
    <button type="submit">Save User</button>
</form>
<a th:href="@{/admin}"> Back to User List</a>
</body>
</html>